@media (max-width: 1000px) {
	.location-title {
		font-size: 1.1em;
	}

	.location-tag-title {
		font-size: 0.9em;
	}
	.location-tag-item {
		font-size: 0.9em;
	}
}

@media (max-width: 500px) {
	#map {
		float: right;
		height: 60%;
		width: 100%;
	}

	#menu {
		float: left;
		height: 40%;
		width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	.title-featured {
		text-align: center;
	}
}

@media screen and (max-width: 600px) {	
	.headshot-container {
		width: 100%;
	}
	.headshot {
		display: block;
		margin: auto;
	}

	.title-container {
		width: 100%;
		text-align: center;
	}

	.title-name {
		font-size: 2.5em;
	}

	.title-subtitle {
		font-size: 1.5em;
	}

}

@media screen and (max-width: 400px) {
	.contact-button {
		bottom: 10px;
	}
}